---
Checks:          'clang-diagnostic-*,clang-analyzer-*,readability-*, performance-*, cppcoreguidelines-*, 
                  bugprone-*, modernize-*,  
                  -cppcoreguidelines-pro-bounds-constant-array-index, -modernize-use-trailing-return-type, 
                  -llvm-*, -fuchsia-*, -google-*, -zircon-*, -abseil-*, -android-* -clazy-*'
WarningsAsErrors: '1'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
